/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px; // this padding caused by bootstrap .navbar-fixed-top
}

.container {
  @include make-row();
  @include make-xs-column(12);
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
  @include make-md-column-offset(2);
  @include make-md-column(8);
  margin: 0 5px 0 5px;
}
main {
  margin: 5px 0 5px 0;
}

footer {
  clear: both;
}
